/* Navbar styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 10px;
  background-color: #213c8d;
}

.logo {
  cursor: pointer;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #e4d273;
}

li a {
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border-bottom: 1px solid #e4d273;
  text-decoration: none;
  color: #e4d273;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a:hover {
  color: white;
  border-bottom: 1px solid white;
}

.active-page {
  color: white;
  border-bottom: 1px solid white;
}
